<h2>Ajouter un employee</h2>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="exampleInputPassword1">Nom</label>
        <input type="nom" [(ngModel)]="employee.nom" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputNom" placeholder="Nom">
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Prénom</label>
          <input type="prenom" [(ngModel)]="employee.prenom" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputPrenom" placeholder="Prénom">
        </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Domaine</label>
        <input type="domaine" [(ngModel)]="employee.domaine" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputDomaine" placeholder="Domaine">
      </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email"  [(ngModel)]="employee.email"  [ngModelOptions]="{standalone: true}"
     class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
    
  </div>
  <button type="submit" (click)="insertAllSelected()" class="btn btn-primary">Submit</button>

</form>


<h2>Chercher des employees</h2>
<div> 
  <div class="form-group"role="group">
   <label for="exampleInputCritere"> Critère</label>
      <input [(ngModel)]="criteria" > 
  </div>
  <div> 
      <div class="form-group">
        <label for="exampleInputValue"> Valeur</label>
        <input [(ngModel)]="value" >
  </div>
<button (click)="search()" class="btn btn-primary" >search</button>

<div *ngFor="let e of employeesSearchList">
  <p>
    "Employee : "
  </p>
  {{e.nom}}
  {{e.prenom}}
  {{e.domaine}}
  {{e.email}}
</div>
</div>
<!---------------------------------------------------------------------------->